In [1]:
salary = int(input("Enter salary amount: "))
expenses = int(input("Enter expenses: "))

savings = salary - expenses

print("My total savings in a month is: ", savings)

Enter salary amount:  2400
Enter expenses:  1560

My total savings in a month is:  840

In [2]:
first_num = int(input("Enter first variable: "))      
second_num = int(input("Enter second variable: "))    

first_num = first_num + second_num       
second_num = first_num - second_num       
first_num = first_num - second_num       

print ("\nFirst_num is:", first_num , "\nSecond_num is:", second_num)

Enter first variable:  23
Enter second variable:  14

First_num is: 14
Second_num is: 23

In [3]:
num = int(input('Enter a number: '))

temp1 = str(num)
temp2 = temp1 + temp1
temp3 = temp1 + temp1 + temp1

total = num + (int(temp2) + int(temp3))

print(temp1, '+', temp2, '+', temp3, '=', total)

Enter a number:  5

5 + 55 + 555 = 615

In [5]:
num_1 = int(input('Enter first number: '))
num_2 = int(input('Enter your second number: '))

Quotient = int(num_1 / num_2)
print('\nQuotient: ', Quotient)

Reminder = num_1 % num_2
print('Reminder:', Reminder)

Enter first number:  4
Enter your second number:  2

Quotient:  2
Reminder: 0

In [6]:
cm = int(input("Give the height in centimeters: "))
inches = 0.394 * cm
feet = 0.0324 * cm

print ("The length in inches: ", round(inches, 2))
print ("The length in feet: ", round(feet, 2))

Give the height in centimeters:  25

The length in inches:  9.85
The length in feet:  0.81

In [7]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("List of cars before the swap: ", cars_list)

cars_list_temp = cars_list[0]

cars_list[0] = cars_list[2]

cars_list[2] = cars_list_temp

print("List of cars after the swap: ", cars_list)

List of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
List of cars after the swap:  ['Honda Civic', 'Honda Accord', 'Toyota Camry', 'Toyota Corolla']

In [8]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("list of cars before the swap: ", cars_list)

car1 = 1
car2 = 2

cars_list[car1], cars_list[car2] = cars_list[car2], cars_list[car1]

print("list of cars after  the swap: ", cars_list)

list of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
list of cars after  the swap:  ['Toyota Camry', 'Honda Civic', 'Honda Accord', 'Toyota Corolla']

In [9]:
list_student = ["Sofia", "Ella", "Samuel", "Ella", "Aiden", "Sofia"]

print("Student list: ", list_student)

print("Number of Students: ", len(list_student))

student_set = set(list_student)

print("\nNew student list: ", list(student_set))

print("Length of modified students list: ", len(student_set))

print("There are %s duplicate elements"%(len(list_student) - len(student_set)))

Student list:  ['Sofia', 'Ella', 'Samuel', 'Ella', 'Aiden', 'Sofia']
Number of Students:  6

New student list:  ['Ella', 'Aiden', 'Samuel', 'Sofia']
Length of modified students list:  4
There are 2 duplicate elements

In [10]:
list_str = ["Sofia","Ella","Samuel","Ella","Aiden","Sofia"]

len_list_str = len(list_str)

len_set_str = len(set(list_str))

if len_list_str == len_set_str:
    
    print("There are no duplicate elements")
    
else:
    
    print("There are {} duplicate elements".format(len_list_str - len_set_str))

There are 2 duplicate elements

In [11]:
score = int(input("Enter a score: "))

if score >= 90:
    print("A grade")

elif score >=80:
    print("B grade")

elif score >=70:
    print("C grade")

elif score >= 50:
    print("D grade")

else:
    print("Fail")

Enter a score:  88

B grade

In [12]:
salary = int(input("Enter annual salary: "))

years_service = int(input("Enter years of service: "))

if years_service >= 10: 
    print ("Bonus is: ", .15 * salary)

elif years_service >= 5 and years_service < 10:
    print ("Bonus is: ", .05 * salary)
    
else:
    print ("No bonus")

Enter annual salary:  45000
Enter years of service:  7

Bonus is:  2250.0