In [1]:
for letter in ['H', 'e', 'l', 'l', 'o',]:
    print(letter)

H
e
l
l
o

In [2]:
for letter in "Hello":
    print(letter)

H
e
l
l
o

In [3]:
my_string = "Hello world"
for char in my_string:
    print(char)

H
e
l
l
o

w
o
r
l
d

In [4]:
for digit in "10":
    print (digit)

1
0

In [5]:
for country in "Germany", "India", "Israel":
    print (country)

Germany
India
Israel

In [6]:
dogs = ("pug", "doberman", "labrador")

In [7]:
for dog in dogs:
    print("It's a", dog)

It's a pug
It's a doberman
It's a labrador

In [8]:
dog_weight = (("pug", 20),
              ("doberman", 50),
              ("labrador", 55))
for i, (dog, weight) in enumerate(dog_weight):
    print("The dog at index %d is a %s and it weighs %s pounds" % (i, dog, weight))

The dog at index 0 is a pug and it weighs 20 pounds
The dog at index 1 is a doberman and it weighs 50 pounds
The dog at index 2 is a labrador and it weighs 55 pounds

In [9]:
friends = ["John", "Sam", "Jill"]

for friend in friends:
    print("Happy New Year,", friend)

Happy New Year, John
Happy New Year, Sam
Happy New Year, Jill

In [10]:
student_scores = {'John': 80,
                  'Sam': 60,
                  'Jill': 50,
                  'Bob': 96}
student_scores

{'John': 80, 'Sam': 60, 'Jill': 50, 'Bob': 96}

In [11]:
for student in student_scores:
    print(student)

John
Sam
Jill
Bob

In [12]:
student_scores.keys()

dict_keys(['John', 'Sam', 'Jill', 'Bob'])

In [13]:
for score in student_scores.values():
    print(score)

80
60
50
96

In [14]:
for key in student_scores:
    print("Key value pair -", key, ":", student_scores[key])

Key value pair - John : 80
Key value pair - Sam : 60
Key value pair - Jill : 50
Key value pair - Bob : 96

In [15]:
for key_value in student_scores.items():
    print(key_value)

('John', 80)
('Sam', 60)
('Jill', 50)
('Bob', 96)

In [16]:
numbers = [4, 6, 9, 10]

for num in numbers:
    qoutient = num // 2

    print(qoutient, "is the qoutient of", num, "/2")

2 is the qoutient of 4 /2
3 is the qoutient of 6 /2
4 is the qoutient of 9 /2
5 is the qoutient of 10 /2

In [17]:
mixed_list = [145, 10.5, 1+3j,
              True, "Python",
              (0, 1),[2, -5],
              {"cllass":"V", "Section":"A"}]

for item in mixed_list:
    print ("Type of", item, "is", type(item))

Type of 145 is <class 'int'>
Type of 10.5 is <class 'float'>
Type of (1+3j) is <class 'complex'>
Type of True is <class 'bool'>
Type of Python is <class 'str'>
Type of (0, 1) is <class 'tuple'>
Type of [2, -5] is <class 'list'>
Type of {'cllass': 'V', 'Section': 'A'} is <class 'dict'>

In [18]:
num_list = [2, 4, 6, 8]

square = 0

for val in num_list:
    square = val ** 2
    print("Square of", val, "is", square)

Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64

In [19]:
string = input("Enter a string: ")

count = 0

for i in string:
    count = count + 1

print(count)

Enter a string:  ursu

4

In [20]:
numbers = [2, 3, 5, 7]

for num in numbers:
    print(num)

else:
    print("No more items left in the list.")

2
3
5
7
No more items left in the list.

In [21]:
characters = {"a", "b", "c", "d"}

for letter in characters:
    print(letter)

else:
    print("No more characters left ")

a
c
d
b
No more characters left

In [22]:
num = int(input("Enter the number of rows:"))

for i in range(num):
    for x in range (i):
        
        print ("*", end = " ") 
    print()

Enter the number of rows: 4

*
* *
* * *

In [23]:
num = int(input("Enter the number of rows:"))

for i in range(num, 0, -1):
    for x in range(i):
        
        print ("*", end = " ") 
    print()

Enter the number of rows: 4

* * * *
* * *
* *
*

In [24]:
for x in range (1, 4):
    for y in range (5, 8):
        
        print("%d * %d = %d" % (x, y, x * y))

1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21

In [25]:
for num1 in range(1, 10):
    print("num =", num1, ":", end = " ")
    
    for num_2 in range(1, 10):
        print("{:2d}".format(num1 * num_2), end = " ")
        
    print()

num = 1 :  1  2  3  4  5  6  7  8  9
num = 2 :  2  4  6  8 10 12 14 16 18
num = 3 :  3  6  9 12 15 18 21 24 27
num = 4 :  4  8 12 16 20 24 28 32 36
num = 5 :  5 10 15 20 25 30 35 40 45
num = 6 :  6 12 18 24 30 36 42 48 54
num = 7 :  7 14 21 28 35 42 49 56 63
num = 8 :  8 16 24 32 40 48 56 64 72
num = 9 :  9 18 27 36 45 54 63 72 81

In [26]:
for i in range(1, 16):
    
    if i % 3 == 0 and i % 5 == 0:
        print(i,"is divisible by both 3 and 5")
    elif i % 3 == 0:
        print(i,"is divisible by 3")
    elif i % 5 == 0:
        print(i,"is divisible by 5")

3 is divisible by 3
5 is divisible by 5
6 is divisible by 3
9 is divisible by 3
10 is divisible by 5
12 is divisible by 3
15 is divisible by both 3 and 5