In [2]:
number = 20

while number < 20:
    print(number)

In [1]:
number = 20

while number < 25:
    print(number)

    number = 26

20

In [2]:
number = 20

while number < 25:
    print(number)

    number += 1

20
21
22
23
24

In [3]:
number = 20

while number <= (25+5):
    print(number)

    number += 1

20
21
22
23
24
25
26
27
28
29
30

In [4]:
num = 5

while num:
    print('Value of num is', num)

    num  = num -1

print("good bye")

Value of num is 5
Value of num is 4
Value of num is 3
Value of num is 2
Value of num is 1
good bye

In [5]:
name = "Thomas"

while name == "Thomas":
    
    print("%s is an amazing soccer player" % name)
    
    name = "Kingsley"

Thomas is an amazing soccer player

In [6]:
user_password = ""

while user_password != "1234":
    user_password = input("password: ")

print("\nAccess Granted!")

password:  123
password:  1
password:  vasea
password:  port
password:  1234

Access Granted!

In [7]:
num = 1

while num <= 10:
    
    print(num ** 2)
    
    num += 1

1
4
9
16
25
36
49
64
81
100

In [8]:
num = 0

while num in range(0, 10):
    print(num)
    
    num = num + 1

0
1
2
3
4
5
6
7
8
9

In [9]:
num = 0

while num in range(0, 10):
    
    if num % 2 == 0:
        print("even number: ", num)
        
    num = num + 1

even number:  0
even number:  2
even number:  4
even number:  6
even number:  8

In [10]:
value_int = int(input("enter an integer: "))

length = 0

while value_int > 0:
    
    value_int //= 10 
   
    length += 1
    
print("number of digits: " , length)

enter an integer:  15

number of digits:  2

In [11]:
x, y = 0, 8

In [12]:
while(x < y):  x = x + 1; print(x)

1
2
3
4
5
6
7
8

In [13]:
x = 1

while x < 5:
    
    y = 1
    
    while y < 5:
        print(x,y)
        y = y + 1
        
    x = x + 1

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [14]:
num_list = [20, 30, 40, 50, 60]

In [15]:
count = 0 

while count < len(num_list):
    
    print(num_list[count])
    
    count = count + 1

20
30
40
50
60

In [16]:
count = 0

while count < len(num_list):
    
    count = count + 1
    
print("there are %d elements in the list" %count)

there are 5 elements in the list

In [17]:
total = 0
element = 0

while element < len(num_list):

    total = total + num_list[element]
    
    print(total)
    
    element += 1
    
print("sum of all elements in the list :" , total)

20
50
90
140
200
sum of all elements in the list : 200

In [18]:
smartphone_brands = ["Samsung", "Huawei", "Apple", 
                     "Nokia", "OnePlus", "Vivo", "Sony"]

In [19]:
count = 0

while count < 10:
    print(smartphone_brands[count])
    
    count = count + 1

Samsung
Huawei
Apple
Nokia
OnePlus
Vivo
Sony

IndexError: list index out of range

In [20]:
len(smartphone_brands)

7

In [21]:
count = 0

while count < 10:
    print(smartphone_brands[count])
    
    count = count + 1

Samsung
Huawei
Apple
Nokia
OnePlus
Vivo
Sony

IndexError: list index out of range